@model IEnumerable<Chat>

<a class="room-button" href="@Url.Action("Index", "Home", new {id = 1})">
        Public Room
</a>

@foreach(var chat in Model)
{
    <a class="room-button" href="@Url.Action("Index", "Home", new {id = chat.Id})">
        @chat.Name
    </a>
}

<a class="room-button" href="@Url.Action("CreateRoom", "Home" )">
    <strong>+</strong>
</a>
<a class="room-button logout" href="@Url.Action("Logout", "Account" )">
    Logout
</a>