@model IEnumerable<Chat>

@foreach(var chat in Model)
{
    <a class="room-button joinRoom" id="@chat.Id"  href="@Url.Action("Chat", "Home", new {chatId = chat.Id} )">
        @chat.Name
    </a>
}

<a class="room-button" href="@Url.Action("CreateRoom", "Home" )">
    <strong>+</strong>
</a>
<a class="room-button logout" href="@Url.Action("Logout", "Account" )">
    Logout
</a>


